@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './utilities.css';
@import './variables.css';

:root{
    --primary : #1e1e1e;
    --dark : #121212;
    --pure : #ffffff;
    --grey : #1d1d1d1d;
    --mild : #b9b8b8;
}
ul li{
    list-style: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smooth:antialiased;
}
body{
    font-family: 'Montserrat',sans-serif;
    color:var(--pure);
    background: var(--primary);
}

header{
    background:linear-gradient(135deg,rgba(0,0,0,1),rgba(0,0,0,0.2)),
    url(../images/sunrise.jpg);
    min-height: 100vh;
    background-size: cover;
}

header nav{
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 0fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--grey);
}

header nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}
header nav .nav-right .nav-link li{
    display: inline-block;
}
header nav .nav-right a{
    text-decoration: none;
    color: var(--pure);
    margin-right: 30px;
    position: relative;
}
header nav .nav-right a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 0;
    height: 2px;
    background:var(--pure) ;
    transition: width 0.3s ease-in-out;
}

header nav .nav-right a:hover::after{
    width: 69%;
}

header nav .nav-right a:active:after{
    width: 70%;
}

header nav .nav-right .search > div{
    background: var(--dark);
    display: flex;
    align-items: center;
    padding:10px 15px;
}
header nav .nav-right .search > div input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--pure);
}
header nav .nav-right .search > div img{
    padding-right: 16px;
}
.brand img{
    height: 50px;
    width: 100px;
}

.social div{
    border: 2px solid var(--pure);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    opacity: 0;
}

@keyframes movein{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

.social i{
    color: var(--pure);
}

.social div:hover i{
    color: var(--dark);
    transition: all .5s ease-in-out;
}
.social div:hover{
    background: var(--pure);
}
.hero{
    position: relative;
}
.social{
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid var(--grey);
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}

.hero .cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 50px);
}

.hero .cta h1{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero .cta > div{
    flex: 1;
}

.hero .cta .left{
    padding:0 60px 0 30px;
}

.hero .cta .right-section img{
    height: 70vh;
    transform: rotate(20deg);
    animation: moveinspace 12s ease-in-out infinite alternate;
}

@keyframes moveinspace{
    50%{
        transform: translateY(100px) rotate(-30deg) scale(0.1);
    }
}

section.strip{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--dark);
    padding:40px 0;
}

section.rocket{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    gap: 80px;
    padding: 100px 0;
}
section.rocket .rocket-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.rocket .rocket-body span{
    font-size: 0;
    position: relative;
}
section.rocket .rocket-body span img{
    width: 100%;
}
section.rocket .block{
    width: 70%;
}
section.rocket .block h1{
    font-size: 32px;
    font-weight: 400;
}
section.rocket .block .width-underline{
    position: relative;
    margin-bottom: 38px;
}
section.rocket .block .width-underline::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    width: 38%;
    height: 2px;
    background: var(--pure);
}
section.rocket .block h1.width-underline::before{
    width: 20%;
}
section.rocket p{
    line-height: 1.6;
}
section.rocket .block h2{
    font-weight: 400;
    margin-bottom: 20px;
}
section.rocket .block.payload{
    padding-top: 130px;
}
section.rocket .block.payload h2{
    padding-left: 80px;
}
section.rocket .block.dragon{
    padding-top: 120px;
}
section.rocket .block button{
    margin-top: 30px;
}
section.rocket .block.composite{
    padding-top: 60px;
}
section.rocket .block.first-stage{
    padding-top: 60px;
}
section.rocket .block.capacity{
    display: flex;
    align-items: center;
    padding-top: 40px;
}
section.rocket .block.capacity > div:first-child{
    margin-right: 40px;
}
section.rocket .block.capacity h4{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}
section.rocket .block.capacity h6{
    font-size: 40px;
    font-weight: 400;
}
section.rocket .block.capacity h6 small{
    font-size: 12px;
}

section.rocket .block.second-stage{
    padding-top: 60px;
}
section.rocket .right-block .block.capacity{
    padding-top: 120px;
}
section.rocket .right-block .block.capacity.single{
    padding-top: 40px;
}

section.rocket .right-block .block.engines{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
section.rocket .right-block .block.engines img{
    width: 180px;
}
section.rocket .right-block .block.marine{
    padding-top: 100px;
    width: 70%;
}
section.rocket .right-block .block.marine h2{
    font-size: 14px;
    padding-left: 100px;
    margin-bottom: 26px;
}

section.rocket .right-block .float-graph{
    position: sticky;
    float: right;
    top: 60px;
    margin-right: -80px;
}
section.rocket .right-block .float-graph img{
    height: 250px;
}

section.rocket .rocket-body span::after,section.rocket .rocket-body span:nth-child(3)::before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width 1s ease-in-out;
}
section.rocket .rocket-body span:nth-child(1)::after{
    bottom: 68px;
    left: 99%;
}
section.rocket .rocket-body span:nth-child(2)::after{
    bottom: 16%;
    right: 100%;
}

section.rocket .rocket-body span:nth-child(3)::after{
    bottom: 64%;
    right: 99%;
}
section.rocket .rocket-body span:nth-child(3)::before{
    bottom: 28%;
    left: 90%;
}
section.rocket .rocket-body span.active:nth-child(1)::after{
    width: 120px;
}
section.rocket .rocket-body span.active:nth-child(2)::after{
    width: 180px;
}
section.rocket .rocket-body span.active:nth-child(3)::after{
    width: 200px;
}
section.rocket .rocket-body span.active:nth-child(3)::before{
    width: 160px;
}

section.rocket .rocket-body span.active:nth-child(1){
    animation: jump 1s ease-in-out forwards;
}
.hamburger{
    display: none;
}

@keyframes jump{
    50%{
        transform: translateY(-50px);
    }
}

footer{
    background: var(--dark);
    padding: 60px 0;
}

footer > div{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

footer .copyright span{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}
footer .copyright img{
    height: 30px;
}

footer h1{
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}
footer h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background:var(--pure) ;
}
.copyright a img{
    height: 50px;
    width: 100px;
}

footer ul{
    list-style: none;
}
footer ul li:nth-child(even){
    margin: 10px 0;
}
footer ul li a{
    color: var(--mild);
    text-decoration: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
footer ul li a:hover{
    color: var(--pure);
}

footer .footer-social a{
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
}
footer .footer-social a:hover{
    color: var(--pure);
}

@media screen and (max-width:949px) {
    header nav .nav-right .search{
        display: none;
    }
    section.rocket .right-block .float-graph img{
        display: none;
    }
    header nav {
        padding: 10px;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: center;
        border-bottom: 1px solid var(--grey);
    }
    header nav .nav-right a{
        display: flex;
        flex-direction: column;
    }
    header nav .nav-right .search > div img{
        padding-right: 16px;
    }
    .brand{
        margin: 0;
    }
    .brand img{
        height: 50px;
        object-fit: cover;
    }
    .hero .cta {
        flex-direction: column;
    }
    .social {
        display: inline;
        position: absolute;
        width: 20%;
        left: 5px;
        top: 180px;
        border-right: 1px solid var(--grey);
        min-height: 40vh;
    }
    .social div{
        margin-bottom: 20px;
        width: 20px;
        height: 20px;
        padding: 10px;
        font-size: 10px;
    }
    .cta .left-section{
        text-align: center;
        margin-top: 4rem;
    }
    .hero .cta .right-section img {
        height: 40vh;
        transform: rotate(2deg);
        animation: moveinspace 12s ease-in-out infinite alternate;
    }
    section.rocket{
        display: flex;
        flex-direction: column;
    }
    section.rocket .rocket-body span img {
        margin:.5rem 4rem;
        width: 20%;
    }
    footer > div {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 1rem;
    }
    section.rocket .block.payload{
        padding: 0;
    }
    section.rocket .block{
        width: 250px;
    }
    section.rocket .block.payload h2 {
        padding-left: 0;
    }
    section.rocket .right-block .block.marine h2{
        padding-left: 0;
    }
    section.strip{
        padding: 40px 10px;
    }
    .hamburger {
        display: block;
        text-align: end;
        transform: translate(60vw,-35px);
    }
    .hamburger i{
        color: white;
    }
    header nav .nav-right{
        display: block;
    }
    .nav-link{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(119, 119, 116);
        z-index: 10;
        margin-top: 60px;
        display: none;
        transition: all 1s ease-in;
    }
    .nav-open{
        transition: all 1s ease-in;
        display: block;
    }
    .no-scroll{
        overflow: hidden;
    }
      .nav-right .nav-link ul{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 2rem;
      }
      .nav-right .nav-link li a{
          margin-bottom: 2rem;
        color: black;
      }
      
}
